body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Assistant");
body {
  margin: 0;
  font-family: "Assistant", sans-serif;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  background-color: #ffffff;
  box-shadow: 5px 10px #888888;
  height: 350px;
  width: 300px;
  padding: 20px;
}
.cardrectangle {
  background-color: #ffffff;
  box-shadow: 5px 10px #888888;
  height: "100%";
  width: 500px;
  padding: 20px;
}
.template1 {
  font-family: "Roboto", sans-serif;
}
.textFieldDesign {

  border-radius: 5px !important;
  padding: 10px 15px 10px 15px !important;
  width: 95% !important;
  border: 1px solid #e5e5e5 !important;
  background-color: #ffffff !important;
  color: #212121 !important;
  font-family: "Assistant" !important;
  word-wrap: break-word !important;
  font-size: 15px !important;
}
.labels{
margin-left: 10px;
margin-top: 15px;
 
  
  color: #212121 !important;
  font-family: "Assistant" !important;
  word-wrap: break-word !important;
  font-size: 15px !important;
  font-weight: 600;
}
